@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

/*
@font-face {
	font-family: 'August';
	src: url('/august-light-itallic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap
}
*/

@font-face {
    font-family: "August";
    src: url("/august-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*
@font-face {
	font-family: 'August';
	src: url('/august-bold-itallic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap
}
*/

@font-face {
    font-family: "August";
    src: url("/august-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
