---
export const prerender = true;

import Layout from "src/layouts/Layout.astro";
import Button from "src/components/button.astro";
---

<Layout tabTitle="Not found">
    <main class="h-full w-full flex flex-col items-center justify-center">
        <h1
            class="pb-[6%] font-inconsolata text-center text-5xl md:text-6xl font-bold tracking-widest"
        >
            Not found
        </h1>
        <p class="hidden">404: Not found</p>
        <Button href="/" class="w-[50%]">HOME</Button>
    </main>
</Layout>
