---
export const prerender = true;

import LayoutContent from 'src/layouts/LayoutContent.astro'
---

<LayoutContent title="Imprint" tabTitle="Imprint">
	<main>
		<div>
			<section>
				<h2>
					Information according to ยง 5 TMG
				</h2>
				<address>
					<p>SickLVL Production</p>
					<p>Johann Kofler</p>
					<p>39049 Sterzing, Italy</p>
				</address>
			</section>

			<section>
				<p>Represented by:</p>
				<p>Tobias Marcotto</p>
			</section>

			<section>
				<h2>
					Contact
				</h2>
				<address>
					<p>
						Telephone:
						<br>
						<a class="underline" href="tel:+393773775619">
							+39 377 377 5619
						</a>
					</p>
					<p>
						E-Mail:
						<br>
						<a class="underline" href="mailto:sicklevelproduction@gmail.com">
							sicklevelproduction@gmail.com
						</a>
					</p>
				</address>
			</section>
		</div>
	</main>
</LayoutContent>

<style scoped>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;

		gap: 2rem;
	}

	section {
		width: fit-content;
	}

	section + section {
		margin-top: .75rem;
	}

	h2 {
		@apply font-august font-bold uppercase leading-[120%] text-4xl;
		@apply mt-9 mb-2;
		text-wrap-style: balance;
	}

	address, p {
		@apply text-xl text-left;
	}

	a {
		text-wrap: balance;
	}
</style>
