---
import Fieldset from "src/components/fieldset.astro";
import Label from "src/components/label.astro";
import Button from "src/components/button.astro";
import UniversalComponent from "./universal-component.astro";

interface Props {
	title?: string;
	form?: boolean;
	formAction?: string;
	formMethod?: string;
	submit?: boolean;
	class?: string;
	classChild?: string;

	entries?: (ComponentProps & {
		title: string;
		name: string;
	})[];
}
const props: Props = Astro.props;
---

<Fieldset {...props} class={["gap-4 [&>*]:w-full [&>*]:flex [&>*]:flex-col [&>*]:gap-1.5", (props.class ?? "")]}>
	{props.entries && props.entries.map((item) => (
		<div>
			<Label for={item.name}>{item.title}</Label>
			<UniversalComponent {...item} />
		</div>
	))}
	<slot />
	{props.submit && (
		<div class="pt-4">
			<Button>Submit</Button>
		</div>
	)}
</Fieldset>
