---
// All usefull props for label component
interface Props extends LabelProps {}

const props = Astro.props;
---

<label class="w-full select-none" for={props.for}>
	<slot />
</label>

<script define:vars={{ props }}>
	const label = document.querySelector(`label[for="${props.for}"]`);
	label.addEventListener("click", () => {
		// Get first element with the name attribute
		const input = document.querySelector(`input[name="${props.for}"]`);
		input.focus();
	});
</script>
