<section
    class="container mx-auto h-[calc(100%-95px)] overflow-auto border-2 border-b-0 p-4 grid gap-4 items-start content-start grid-cols-[repeat(auto-fit,minmax(285px,_1fr))]"
>
    <slot />
</section>
