<!-- Cursor Wrapper -->
<div id="cursor" class="h-12 w-12 relative">
    <!-- Cursor Pointer -->
    <svg
        class="cursor-pointer h-10 w-10"
        width="300"
        height="226"
        viewBox="0 0 300 226"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M13.4563 78.4031C13.4563 78.4031 15.0395 68.8361 22.1635 70.4306C22.1635 70.4306 27.7043 76.0114 44.327 70.4306C60.9497 64.8499 79.1555 136.602 84.6964 168.492L92.612 157.331L110.818 195.599L119.525 151.75L186.807 225.894L171.768 145.372L284.96 195.599L202.638 97.5371L300 113.482L206.596 45.7159C206.596 45.7159 227.968 34.5544 234.301 24.1901C234.301 24.1901 203.43 31.3654 165.435 20.2039C127.441 8.24511 98.9445 -17.2669 45.9102 17.8121C45.9102 17.8121 35.6201 26.5818 27.7045 38.5406C27.7045 38.5406 2.37467 44.1214 0 64.8499C0 64.8499 -0.000145316 75.2141 13.4563 78.4031Z"
            fill="white"></path>
    </svg>
</div>

<script>
    function setup() {
        const cursor = document.getElementById("cursor");
        const cursorPointer = cursor?.querySelector(".cursor-pointer");

        if (!cursor || !cursorPointer) return;

        // Check if the device supports touch
        const isTouchDevice =
            "ontouchstart" in window || navigator.maxTouchPoints > 0;

        // If it's a touch device, disable custom cursor
        if (isTouchDevice) {
            cursor.style.display = "none"; // Hide cursor
            return; // Exit early
        }

        // Prevent default drag behavior
        document.addEventListener("dragstart", (e) => e.preventDefault());

        document.addEventListener("mousemove", (e) => {
            cursor.style.left = e.clientX + "px";
            cursor.style.top = e.clientY + "px";
        });

        // Event: Check if cursor is over a link
        document.addEventListener("mouseover", (e) => {
            const target = (e.target as Element)?.closest("a, button, input");

            if (target) {
                cursorPointer.classList.add("cursor-pointer-hover");
            } else {
                cursorPointer.classList.remove("cursor-pointer-hover");
            }
        });

        // Event: Check if cursor is active
        document.addEventListener("mousedown", () =>
            cursorPointer.classList.add("cursor-pointer-active"),
        );
        document.addEventListener("mouseup", () =>
            cursorPointer.classList.remove("cursor-pointer-active"),
        );

        function moveCursorInTheCenter() {
            if (!cursor) return;

            cursor.style.left = window.innerWidth / 2 + "px";
            cursor.style.top = window.innerHeight / 2 + "px";
        }

        window.addEventListener("resize", moveCursorInTheCenter);
    }

    document.addEventListener("DOMContentLoaded", setup);
</script>

<style is:global>
    html,
    body,
    a:-webkit-any-link {
        cursor: none !important;
    }
</style>

<style>
    #cursor {
        position: fixed;
        top: -100%;
        left: -100%;
        z-index: 1000;

        transform: translate(-50%, -50%);
        border-radius: 999999px;

        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: none; /* Ensure cursor does not block interactions */
        background: rgba(
            255,
            255,
            255,
            0.1
        ); /* Ensure parent has a background */
    }

    #cursor .cursor-pointer {
        transform: scale(0.5);
        border-radius: 999999px;

        transition: all 0.2s ease-in-out;

        fill: white;
    }

    #cursor .cursor-pointer-hover {
        transform: scale(0.7);
    }

    #cursor .cursor-pointer-active {
        transform: scale(0.65);
    }

    #cursor .cursor-pointer-hover.cursor-pointer-active {
        transform: scale(0.85);
    }
</style>
