<ul
    id="scrollable-container"
    class="flex flex-row flex-nowrap gap-8 p-8 h-full max-h-full overflow-y-hidden overflow-x-auto"
>
    {
        /*
    {portfolio.map((item) => (
        <li class="snap-center" style="flex: 0 0 auto">
            <a href={`/portfolio/${item.slug}`}>
                <PerfectImage class="w-auto h-full min-w-full min-h-full object-cover" images={item.thumbnail} alt={item.title} />
            </a>
        </li>
    ))}
    */
    }
</ul>

<script>
    // snap-x snap-mandatory
    const scrollable = document.getElementById("scrollable-container");
    scrollable?.addEventListener("wheel", (event) => {
        if (event.deltaY !== 0) {
            event.preventDefault();

            scrollable.scrollLeft += event.deltaY;
        }
    });
</script>
